@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --off-white: hsl(0, 0%, 94%);
    --light-gray: hsl(0, 0%, 86%);
    --smokey-gray: hsl(0, 1%, 44%);
    --error-red: hsl(0, 100%, 67%);
    --purple: hsl(259, 100%, 65%);
    --desaturated-purple: hsl(259, 40%, 65%);
    --off-black: hsl(0, 0%, 8%);
    font-family: 'Poppins';
}

body, p, hr{
    margin: 0;
    line-height: 1rem;
}

body {
    background-color: var(--off-white);
}